.hero {
    display: flex;
    position: relative;
    overflow: hidden;
    height: 40vw;
}

.video {
    position: absolute;
    width: 100vw;
    z-index: -1;
}

.content {
    padding: var(--u-n1);
}

.header {
    color: white;
}

.embed {
    display: flex;
    flex-grow: 1;
    background-color: black;
}

.close {
    position: absolute;
    background-color: black;
    top: 0;
    right: 0;
    padding: var(--u-n1);
    padding-left: var(--u-n8);
    border-bottom-left-radius: var(--br-n5);
}
