.hero {
    display: flex;
    position: relative;
    overflow: hidden;
    height: 40vw;
}

.backdrop {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
}

.content {
    margin-left: 5vw;
}

.video {
    position: absolute;
    width: 100vw;
    z-index: -1;
}

.header {
    font: var(--t-header);
    margin-top: var(--t-header-margin);
    margin-bottom: var(--t-header-margin);
    text-transform: uppercase;
    color: white;
}

.embed {
    display: flex;
    flex-grow: 1;
    background-color: black;
}

.close {
    position: absolute;
    background-color: black;
    top: 0;
    right: 0;
    padding: var(--u-n1);
    padding-left: var(--u-n5);
    border-bottom-left-radius: var(--br-n5);
}
