.button {
    display: flex;
    padding: var(--u-n1);
    border-radius: var(--br-n5);
    border: 0;
    background-color: var(--c-button-primary);
    color: var(--c-button-text);
    outline: none;
    text-transform: uppercase;
    font: var(--t-button);
}

.button[button-type="primary"],
.button[button-type="secondary"] {
    transition: ease-in-out 0.1s transform;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.button[button-type="primary"]:hover,
.button[button-type="secondary"]:hover {
    transform: scale(1.05);
}

.button[button-type="secondary"] {
    background-color: var(--c-button-secondary);
}

.button[button-type="icon"] {
    background-color: white;
    border-radius: 100%;
}

.button[button-type="icon"] img {
    transition: ease-in-out 0.1s transform;
}

.button[button-type="icon"]:hover img {
    transform: scale(1.25);
}

.button:hover {
    cursor: pointer;
}
