.header {
    display: flex;
    align-content: space-between;
    height: var(--u-n4);
    padding-left: var(--u-n1);
}

.logo {
    flex-grow: 1;
    background-image: url("/assets/logo.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto 50%;
}

.navigation {
    display: flex;
    justify-content: flex-end;
}
