.section {
    display: flex;
    min-height: 35vw;
}

.section[image-section-direction="right"] {
    flex-direction: row-reverse;
}

.image,
.content {
    display: flex;
    flex-basis: 50%;
    margin-top: calc(0px - var(--u-n2));
}

.image {
    box-shadow: 0 0 15px 2.5px rgba(0, 0, 0, .1);
}

.section[image-section-direction="left"] .image {
    margin-left: var(--u-n2);
}

.section[image-section-direction="right"] .image {
    margin-right: var(--u-n2);
}

.content {
    flex-direction: column;
    justify-content: center;
    padding-left: var(--u-n4);
}

.section[image-section-direction="right"] .content {
    padding-right: var(--u-n4);
    text-align: right;
}

.header {
    font: var(--t-header);
    margin-top: var(--t-header-margin);
    margin-bottom: var(--t-header-margin);
    text-transform: uppercase;
}

.body {
    font: var(--t-body);
    margin-top: var(--t-body-margin);
    margin-bottom: var(--t-body-margin);
}
